%h3 Colleges
- if can? :update, @college
  = link_to 'New College', new_college_path
%table
  %thead
    %tr
      %th Name
      %th Zip code
      %th State
      %th Classification
      %th School website
      %th Athletic website
      - if can? :update, @college
        %th
        %th
  - @colleges.each do |college|
    %tr
      %td= link_to college.name, college
      %td= college.zip_code
      %td= college.state
      %td= college.classification
      %td= link_to 'View Site', college.school_website, class: 'button', target: 'blank'
      %td= link_to 'View Site', college.athletic_website, class: 'button', target: 'blank'
      - if can? :update, @college
        %td= link_to 'Edit', edit_college_path(college), class: 'button'
        %td= link_to 'Destroy', college, class: 'button', method: :delete, data: { :confirm => 'Are you sure?' }
