!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"
  
  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title= content_for?(:title) ? yield(:title) : "Untitled"

  -# Included CSS Files
  = stylesheet_link_tag "application"

  -# Included JS Files
  = javascript_include_tag "application"
  = javascript_include_tag "vendor/custom.modernizr"

  = csrf_meta_tag

%body
  = render 'layouts/navigation'
  .row
    = render 'layouts/messages'
    .large-12.columns
      = yield
  / Call to Action Panel
  .row
    .large-12.columns
      .panel
        %h4 Get in touch!
        .row
          .large-9.columns
            %p We'd love to hear from you, you crazy person you.
          .large-3.columns
            %a.radius.button.right{:href => "#"} Contact Us
  / Footer
  %footer.row
    .large-12.columns
      %hr/
      .row
        .large-6.columns
          %p © Copyright no one at all. Go to town.
        .large-6.columns
          %ul.inline-list.right
            %li
              %a{:href => "#"} Link 1
            %li
              %a{:href => "#"} Link 2
            %li
              %a{:href => "#"} Link 3
            %li
              %a{:href => "#"} Link 4
            %li
              %a{:href => "#"} Link 5
            %li
              %a{:href => "#"} Link 6
            %li
              %a{:href => "#"} Link 7